@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;0,800;1,700;1,800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.App {
  background-image: url('./assets/cold-bg.jpg');
  background-size: cover;
  background-position: bottom;
  transition: .4s ease; 
}

.App.warm {
  background-image: url('./assets/warm-bg.jpg');
}

main {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.7));
}

.search-box {
  width: 100%;
  margin: 0 0 75px;
}

.search-box .search-bar {
  display: block;
  width: 90%;
  padding: 15px;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0 0 15px 15px;
  box-shadow: 0 5px rgba(0, 0, 0, 0.2);
  color: #313131;
  font-size: 20px;
  transition: 0.4s ease;
  margin: 0 auto;
}

.search-box .search-bar:focus { 
  background-color: rgba(255, 255, 255, 0.75);
}

.location-box .location {
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px rgba(50,50,70,0.5);
}

.location-box .date {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px rgba(50,50,70,0.5);
}

.weather-box .temp {
  position: relative;
  display: block;
  width: 75%;
  text-align: center;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  padding: 15px 25px;
  color: #fff;
  font-size: 90px;
  font-weight: 900;
  text-shadow: 2px 2px rgba(50,50,70,0.5);
  box-shadow: 2px 6px rgba(0, 0, 0, 0.2);
}

.weather-box .weather {
  text-align: center;
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 760px) {
  .App {
    background-image: url('./assets/desktop-cold.jpg');
  }  
  .App.warm {
    background-image: url('./assets/desktop-warm.png');
  }
  .search-box {
    padding-top: 40px;
  }
  .search-box .search-bar {
    border-radius: 10px;
    width: 60%;
  }
  .weather-box .temp {
    width: 40%;
  }
}
